VITE_API_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
mongodb+srv://namapravallika10_db_user:<mongodb+srv://namapravallika10_db_user:<db_password>@cluster0.g0kmkzy.mongodb.net/?appName=Cluster0>@cluster0.g0kmkzy.mongodb.net/